<form *ngIf="cheatsheet && cheatsheet.id !== -1" id="cheatsheetForm" [formGroup]="cheatsheetForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="title" appearance="fill">
        <mat-label>{{ 'editor.cheatsheet.title.input.label' | translate }}</mat-label>
        <input placeholder="{{ 'editor.cheatsheet.title.input.placeholder' | translate }}" matInput formControlName="title">
    </mat-form-field>

    <div class="entry-container" formArrayName="entries">
        <h2>
            {{ 'entries.title' | translate }}
        </h2>
        <div class="row-wrapper" *ngFor="let entryControl of entries.controls; let i=index">
            <mat-form-field class="entry" appearance="fill">
                <mat-label>{{ 'editor.entries.input.label' | translate }}</mat-label>
                <input placeholder="{{ 'editor.entries.input.placeholder' | translate }}" matInput [formControlName]="i">
            </mat-form-field>
            <button type="button" (click)="removeEntry(i)" mat-mini-fab>
                <mat-icon>delete</mat-icon>
            </button>
            <button type="button" *ngIf="i !== 0" (click)="moveEntryUp(i)" mat-mini-fab>
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <button type="button" *ngIf="i !== (entries.controls.length - 1)" (click)="moveEntryDown(i)" mat-mini-fab>
                <mat-icon>arrow_downward</mat-icon>
            </button>
        </div>
    </div>
    
    <div class="action-wrapper">
        <button type="button" mat-flat-button color="accent" (click)="addEntry()">{{ 'editor.entries.add' | translate }}</button>
        <button type="submit" mat-flat-button color="primary">{{ 'editor.submit' | translate }}</button>
    </div>
</form>
<div *ngIf="cheatsheet && cheatsheet.id === -1">
    <h3>{{ 'editor.no-cheatsheet-selected' | translate }}</h3>
</div>